.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: none;
  position: fixed;

  :global .active {
    display: block;
  }
}

.panel {
  display: flex;
  flex-direction: column;
  color: #fff;
  z-index: 1;
  padding: 1em;
  padding-top: 3em;
  overflow: hidden;
  position: relative;
  border-radius: 1em;
  box-sizing: border-box;
  background-color: #444;

  .resizer {
    // display: none;

    &.active {
      display: block;
    }

    :global .resizer-br {
      right: 0;
      bottom: 0;
      width: 1.5em;
      height: 1.5em;
      position: absolute;
      cursor: nwse-resize;
      background-color: rgba(0, 0, 0, .5);
    }
  }

  .header {
    top: .5em;
    right: .5em;
    position: absolute;
  }

  .body {
    flex: 1;
    overflow: auto;
  }
}
