.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: none;
  position: fixed;

  &:global(.active) {
    display: block;
  }
}

.panel {
  display: flex;
  flex-direction: column;
  color: #fff;
  z-index: 1;
  padding: 1em;
  padding-top: 3em;
  position: relative;
  border-radius: 1em;
  box-sizing: border-box;
  background-color: #444;

  .resizer {
    span {
      position: absolute;
      background-color: rgba(0, 0, 0, .5);
    }

    :global .resizer-horizontal {
      width: 1.5em;
      top: .5em;
      bottom: .5em;
      cursor: ew-resize;

      &.resizer-l {
        left: -.5em;
      }

      &.resizer-r {
        right: -.5em;
      }
    }

    :global .resizer-vertical {
      height: 1.5em;
      left: .5em;
      right: .5em;
      cursor: ns-resize;

      &.resizer-t {
        top: -.5em;
      }

      &.resizer-b {
        bottom: -.5em;
      }
    }

    :global .resizer-corner {
      width: 1.5em;
      height: 1.5em;

      &.resizer-tr, &.resizer-bl {
        cursor: nesw-resize;
      }
      &.resizer-tl, &.resizer-br {
        cursor: nwse-resize;
      }

      &.resizer-tl, &.resizer-bl {
        left: -.5em;
      }
      &.resizer-tr, &.resizer-br {
        right: -.5em;
      }

      &.resizer-tl, &.resizer-tr {
        top: -.5em;
      }
      &.resizer-bl, &.resizer-br {
        bottom: -.5em;
      }
    }
  }

  .header {
    top: .5em;
    right: .5em;
    position: absolute;
  }

  .body {
    flex: 1;
    overflow: auto;
  }
}
